*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media screen and (max-width: 768px) {
    font-size: 52%;
  }

  @media screen and (max-width: 650px) {
    font-size: 40%;
  }
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-black);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

em {
  font-style: normal;
}

.container {
  max-width: 110rem;
  padding: 0 2rem;
  margin: auto;
  height: 100%;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  text-transform: capitalize;
  font-size: 1.8rem;

  &--error {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--alt {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }

  &:hover {
    & > * {
      margin-left: 5rem;
    }
  }
  &__icon {
    transition: 0.2s;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
  }
}
